<div class="page-header">
	<h1>Create New Classroom</h1>
</div>

<form role="form" ng-submit="createPoll()">
	<div class="form-group">
		<label for="pollQuestion">Lesson Title</label>
		<input type="text" ng-model="poll.question" class="form-control" id="pollQuestion" placeholder="Enter Classroom Name">
	</div>
	
	<div class="form-group">
		<label>Lesson Objectives</label>
		<div ng-repeat="choice in poll.choices">
			<input type="text" ng-model="choice.text" class="form-control" placeholder="Enter Learning Objective {{$index+1}}"><br>
		</div>
	</div>		
	
	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-default" ng-click="addChoice()"><span class="glyphicon glyphicon-plus"></span> Add another</button>
		</div>
	</div>
	
	<p><hr></p>
	
	<div class="row">
		<div class="col-xs-6">
			<a href="#/polls" class="btn btn-default" role="button">Back to Classroom List</a>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-primary pull-right" type="submit">Create Classroom &raquo;</button>
		</div>
	</div>
	
	<p>&nbsp;</p>
</form>
